<div class="card bg-dark text-light movie-card h-100">
  <img
    src="https://hips.hearstapps.com/hmg-prod/images/nosotros-poster-1549472640.jpg"
    class="card-img-top"
    alt="Poster película"
  />
  <div class="card-body">
    <h5 class="card-title">Interstellar</h5>
    <p class="card-text mb-1"><i class="bi bi-calendar"></i> Año: 2014</p>
    <p class="card-text mb-3">
      <i class="bi bi-collection-play"></i> Tipo: Película
    </p>
    <button class="btn btn-outline-light w-100">
      <i class="bi bi-info-circle"></i> Ver detalles
    </button>
  </div>
</div>
